<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="ui inverted  menu">
      <div class="ui container">
      <div class="header item">
        <i class="blogger b icon" id="brand"></i>
        LOG SITE
      </div>
      <a class="item" href="/">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="/blogs/new">
        <i class="plus square icon"></i>
        New Post
      </a>
    </div>
    </div>
